.app {
  background-color: #20b8d3;
  color: rgb(255, 255, 255);
}

.app_title {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

.container_resident {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

